aioredis==1.3.1
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.6.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.0
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
Django==3.0.4
django-braces==1.14.0
django-ckeditor==5.9.0
django-email-verification==0.0.6
django-extensions==2.2.9
django-filter==2.3.0
django-froala-editor==3.1.0
django-js-asset==1.2.2
django-model-utils==4.0.0
django-private-chat==0.2.2
django-trix-fork==0.3.1.2
django-widget-tweaks==1.4.8
hiredis==1.0.1
html2text==2020.1.16
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==0.6.2
Pillow==7.0.0
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.4.4
pyOpenSSL==19.1.0
python-decouple==3.3
pytz==2019.3
requests==2.24.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
stripe==2.48.0
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
urllib3==1.25.9
websockets==8.1
wrapt==1.11.2
yapf==0.29.0
zope.interface==5.1.0
