{% extends 'base.html' %}

{% block content %}
<style>
    a{
      color: #1f1f1f;
    }
    .btn-primary{
      background-color: #f37020 !important;
    }
    .align{
      text-align: center;
    }
    .space{
      padding: 20px;
    }
    .hText{
      font-weight:bold;
    }
  </style>
<div class="container">
  <div id="home_jobs" class="section">
        <div class="section_heading align">
          <p>
            <h1 class="hText">JOBS AND INTERNSHIP
              </h1>
            </p>

        </div>
        
<div class="container">
        
        <div class="row">
          
                {% for each in jobsitem %}
                <div class="col-md-4">
                        
                    <div class="card">
                      <div class="card-body">
                        
                          <a href="#">
                        <h5 class="card-title">{{each.title}}</h5>
                        <p><span class="organisation">{{each.organisation}}</span></p>
                      </a>
                        <p class="card-text">
                          <p>
                          <b>Location: {{each.location}}</b>
                          </p>
                          <p>
                            <b>Salary: {{each.salary}}</b>
                          </p>
                        </p>
                        <a href="#" class="btn btn-primary" role="button">APPLY</a>
                       
                      </div>
                    </div>
                    </div> 
                    {% endfor %}
                        </div>
                        </div>
                      </div>
                      
        </div>
{% endblock content %}