{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-2">

    </div>
    <div class="col col-lg-6 col-md-12 col-sm-6 col-12 main-part">
      {% include 'snippets/carousel.html' %}
      <hr style = "border: none">
      {% include 'snippets/gallery-section.html' %}
      {% include 'snippets/jobs-section.html' %}
      {% include 'snippets/donation-section.html' %}
    </div>
    <div class="col col-lg-2 col-md-12 col-sm-12 col-12">
      {% include 'snippets/show-news-events.html' %}
      {% include 'snippets/story-section.html' %}
    </div>
  </div>
</div>
{% endblock content %}
