{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      {% include 'snippets/carousel.html' %}
    </div>

    <div class="col s12 m8 l7 xl7">
      <div class="row">
        <div class="col s12">
          {% include 'snippets/gallery-section.html' %}
        <div class="col s12">
          {% include 'snippets/jobs-section.html' %}
        </div>
        <div class="col s12">
          {% include 'snippets/donation-section.html' %}
        </div>
      </div>
  </div>
  </div>

  <div class="col s12 m4 l5 xl5">
    <div class="col s12">
      {% include 'snippets/story-section.html' %}
    </div>
      <div class="col s12">
        {% include 'snippets/show-news-events.html' %}
      </div>
  </div>
  </div>
</div>

{% endblock content %}