{% extends 'base.html' %}

{% block content %}

<style>
 /*body > div.flex-container{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
  }*/
  .container{
    text-align:center;
  }
 /*div.flex-container .event-title{
    text-align: center;
    font-size: 5rem;
    color: #086490;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }*/
   /*body > div.flex-container > p.body-image{
    padding-top: 20px;
    text-align: center;
  }*/

  /*.flex-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 30px;
  }


  .custom {
    background-color: #f1f1f1;
    width: auto;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
  }
*/
.event-body{
   color: #086490;
  font-weight: 700;
  font-size: 20px;
}
h2{
  color: #086490;
  font-weight: 700;
  font-size: 20px;
}
  .responsive {
    align-self: center;
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    border-radius: 30px;
    padding: 5px;
   
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="flex-container">
       <div class="event-title">
         <h1> {{event.title}}</h1>
        </div>
       
        {% if event.image %}
       <p class="body-image"> <img class="responsive" src="{{event.image.url}}" alt="image cap"></p>
        {% endif %}
        <div class="event-start">
         <h2> On: {{event.start_date}}
          @{{event.start_time}}</h2>
        </div>
        <div class="event-venue">
          <h2>Venue: {{event.venue}}</h2>
        </div>
        <div class="event-body">
          </h2>{{event.body}}<h2>
        </div>
      </div>
    </div>
  </div>
  <div id="disqus_thread"></div>
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function() {
      this.page.url = 'http://127.0.0.1:8000/event/{{event.id}}/'; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '/event/{{event.id}}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://ats-2.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>



{% endblock content %}
