{% extends 'base.html' %}

{% block content %}

<style>
    .flex-container {
      display: flex;
      flex-direction: column;
      background-color:lightgrey;
      border-radius: 30px;
    }

    .custom{
      background-color: #f1f1f1;
      width: auto;
      margin: 10px;
      text-align: center;
      font-size: 30px;
      border-radius: 10px;
    }

    .responsive {
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    border-radius: 30px;
    align-self: center;
    padding: 5px;
  }
    </style>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="flex-container">
          <div class="custom">
            <b>{{story.title}}</b>
          </div>
          <div class="custom">
            By  {{story.user.first_name}} {{story.user.last_name}}
          </div>
          <div class="custom">
            Written on {{story.date_time}}
          </div>
          <br>
          <div class="custom">
            {{story.body}}
          </div>
        </div>
      </div>
    </div>
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function() {
        this.page.url = 'http://127.0.0.1:8000/story/{{story.id}}/'; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '/story/{{story.id}}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://ats-2.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>


{% endblock content %}


<!-- <h2>{{story.title}}</h2>
<p>By {{story.user.first_name}} {{story.user.last_name}}</p>
<p>Written on {{story.date_time}}</p>
<br><br>
<p>{{story.body}}</p> -->
