{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col s8">
      <p style="font-size:3.5rem;"><b>{{news.title}}</b></p>
    </div>
  <div class="col s8">
    <p class="date">Posted on<i>{{news.date_time_date}} {{news.date_time_month}}, {{news.date_time_year}}</i></p>
</div>
  <p class="separator"></p>
  <div class="col s8">
    {% if news.image %}
    <p class="body-image"><img src="{{news.image.url}}"></p>
    {% endif %}
  </div>
<div class="col s8">
    <p class="flow-text" style=" word-wrap: break-word;">{{news.body}}</p>
</div>

  </div>
<div>
  <div id="disqus_thread"></div>
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function() {
      this.page.url = 'http://127.0.0.1:8000/news/{{news.id}}/'; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '/news/{{news.id}}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://ats-2.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>




{% endblock content %}
