{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hold On!</title>
    <link rel="stylesheet" href="{% static 'chat/css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="black">
                <ul class="left hide-on-med-and-down">
                    <li><a href="/" style="text-decoration: none;">Home</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/searchalumni" style="text-decoration: none;">Search</a></li>
                    <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"
                            style="text-decoration: none;"><i class="material-icons">menu</i></a></li>
                </ul>
            </nav>
        </div>


        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://picsum.photos/600">
                    </div>
                    <a href="#user" style="text-decoration: none;"><img class="circle materialboxed"
                            src="{{ request.user.profile_photo.url }}"></a>
                    <a href="#name" style="text-decoration: none;"><span
                            class="white-text name">{{ request.user.full_name }}</span></a>
                    <a href="#email" style="text-decoration: none;"><span
                            class="white-text email">{{ request.user.email }}</span></a>
                </div>
            </li>
            <li><a href="/profile/{{ request.user.username }}/{{ request.user.id }}"><i
                        class="material-icons">account_circle</i>Profile</a></li>
            <li><a href="/chat/general"><i class="material-icons">chat</i>Group Chat</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a onclick="dest('{{ request.user.college.name }}')"><i class="material-icons">chat_bubble</i>College
                    Chat</a></li>
            <li><a class="waves-effect" href="/logout"><i class="material-icons">remove_circle</i>Logout</a></li>
        </ul>
    </header>

    <div class="parallax-container">
        <div class="parallax"><img src="https://picsum.photos/800/"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header red-text">Please Verify your account</h2>
            <p class="grey-text text-darken-3 lighten-3">You need to verify your account E-Mail first that you provided
                during signing up.</p>
            <a href="/"><i class="material-icons">arrow_back</i></a>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://picsum.photos/800/"></div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="{% static 'chat/js/materialize.js' %}"></script>
<script>

    $(document).ready(function () {
        $('.parallax').parallax();
    });
    $(function () {
        $('.sidenav').sidenav({
            edge: 'right',
        });
    });
</script>

</html>