{% extends 'base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'chats/css/materialize.css' %}" rel="stylesheet">
</style>
<br>
<!-- <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://www.kindpng.com/picc/m/25-254714_graduation-ceremony-vector-graphics-graduate-university-student-icon.png" class="card-img-top" alt="Image Vector Here">
            <div class="card-body">
              <h4 class="card-title">SignUp as an Alumni</h4>
              
              <form action="/signup/alumni">
                <button type="submit">Click Here</button>
             </form>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://st4.depositphotos.com/27867620/30416/v/450/depositphotos_304166964-stock-illustration-faculty-member-simple-illustration.jpg" class="card-img-top" alt="Image Vector Here">
            <div class="card-body">
              <h4 class="card-title">SignUp as a Faculty Member</h4>
              
              <form action="/signup/faculty">
                <button type="submit">Click Here</button>
             </form>
            </div>
          </div>
        </div>
      </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col s12 m6" style="padding: 20px; text-align: justify;">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large" style="font-size: 300px;">school</i></h2>
        <h5 class="center">Alumni</h5>
        <div class="container center">
          <a   href="/signup/alumni" class="btn" style="background-color: #2196f3;" >Sign Up as Alumni</a>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6" style="padding: 20px;text-align: justify;">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large" style="font-size: 300px;">book</i></h2>
        <h5 class="center">Faculty</h5>
        <div class="container center">
          <a  href="/signup/faculty" class="btn" style="background-color: #2196f3" >Sign Up as Faculty</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
