<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a>
                <li><a href="/profile/{{ user.first_name }}/{{ user.id }}">Profile</a></li>
            </ul>
            <ul id=nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/searchalumni">Search Alumni</a></li>
                <li><a href=/logout>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>