<div id="footer" class="row">
    <form id="sender" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="chat-message-input" class="materialize-textarea"></textarea>
                <label for="chat-message-input">Message</label>
            </div>
            <button id="chat-message-submit" class="btn-floating btn-large waves-effect waves-light blue pulse"><i class="material-icons">send</i></button>
        </div>
    </form>
</div>