<style>
  #home-donation{
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 1px rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  }
  #home-donation > div > div.section-header > h5{
    color: #333;
    float: left;
    display: inline;
    font-size: 1.8rem;
  }
  #home-donation > div > div.section-header > a > p{
    float: right;
  }
  #home-donation > div > div.section-content > div > a > img{
    height: 15rem;
    width: 100%;
  }
  #home-donation > div > div.section-header{
    padding-left: 25px;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
  }
  #home-donation > div > div.section-content > div > a > p.title{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  #home-donation > div > div.section-content > div > a > p.body{
    padding-left: 20px;
    margin-right: 20px;
    color: black;
  }
  #home-donation > div > div.section-content > div > a > p.days-remaining{
    padding-left: 20px;
    margin-right: 20px;
    color: grey;
  }
</style>
<div id="home-donation">
  <div class="card">
    <div class="section-header">
      <h5><b>FUNDRAISING PROJECTS</b></h5>
      <a class="view-all" href="#"><p class="view-all">view all</p></a>
    </div>
    <div class="section-content">
      {% for each in donation %}
      <div class="col-sm-6">
        <a href="#">
          {% if each.image %}
            <img src="{{each.image.url}}">
          {% endif %}
          <p class="title">{{each.donation_name}}</p>
          <p class="body">{{each.description}}</p>
          <p class="days-remaining">{{each.days_remaining}} days to go</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
