<style type="text/css" media="screen">
.card {
 width:400px;
}
.view-all{
  font-size=150%;
  font-color= black;
}
</style>
 <div class="home-donation">
 <div class="section-header">
      <h5><b>FUNDRAISING PROJECTS</b></h5>
      
    </div>
 {% for each in donation %}
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{each.image.url}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{each.donation_name}}<i class="material-icons right">more_vert</i></span>
      <a class="waves-effect waves-light btn-large" href="#">DONATE</a>
      <!-- <p><a href="#">This is a link</a></p> -->
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{each.donation_name}}<i class="material-icons right">close</i></span>
      <p class="body">{{each.description}}</p>
          <p class="days-remaining">{{each.days_remaining}} days to go</p>
    </div>
  </div>

  {% endfor %}
  <a class="view-all" href="#"><div class="view-all">view all</div></a>
  </div>