<!-- <style type="text/css">
	.footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
</style>

<br>
<div class="d-flex flex-row align-items-center footer  bg-white border-top shadow-lg">
	<p class="m-auto"> Alumni Tracking System | Team PlusOne</p>
</div> -->

<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
      Team Plus One © 2020, SIH
      <a class="grey-text text-lighten-4 right" href="#!" style="text-decoration: none;">More Links</a>
    </div>
  </div>
</footer>