<footer class="page-footer" style="background-color:#001333;">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <li><a class="white-text" href="/donate">Donate</a></li>
          <li><a class="white-text" href="/gallery">Gallery</a></li>
          <li><a class="white-text" href="/events">All Events</a></li>
          <li><a class="white-text" href="/news">All News</a></li>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      ALL RIGHTS RESERVED © 2020. <a class="orange-text text-lighten-3" href="#">Team PlusOne</a>
      </div>
    </div>
  </footer>