<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        h1 {
            color: blue;
        }
    </style>
</head>

<body>
    <h2>Thank You for registering!</h2><br>
    <h1>You are almost there!</h1><br>
    <h2>Please click <a href="{{ link }}">here</a> to confirm your account for Alumni Tracking System.</h2>
    <br><br>
    <h5>If you did not register, please ignore this message.</h5>
    <h6>Mails to this thread will not be replied to.</h6>
</body>

</html>